@import "_pxTOvw.scss";
@import "animate";

$osn-col: #f9ab02;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: $osn-col;
}

input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: transparent;
}
input:focus::-moz-placeholder { /* Firefox 19+ */
  color: transparent;
}
input:focus:-ms-input-placeholder { /* IE 10+ */
  color: transparent;
}
input:focus:-moz-placeholder { /* Firefox 18- */
  color: transparent;
}

a, a:focus, button, button:focus, input, input:focus, textarea, textarea:focus {
  outline: 0 !important;
}

:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
}

select, select:focus {
  outline: 0 !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

p {
  color: #000;
  line-height: $a30;
  white-space: pre-line;
  font-size: $a25;
}

a:focus, a:hover {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-size: $a26;
  line-height : $a32;

}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transition-delay: .5s;
}

.wow {
  visibility: hidden;
}

.hideShow {
  display: none;
}

.show {
  display: block;
}


.button, .button_form {
  //border-radius: $a4;
  font-family: 'GilroySemiBold';
  padding: 0 $a27;
  height: $a70;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height : $a32;
  background: url("../img/icons/button.svg") 0 0 / 100% 100%;
  filter: drop-shadow(0 0 $a4 rgb(254,174,2));
  font-size: $a18;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.5s;
  width: fit-content;
  &:before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
    background: rgba(0,0,0,.25);
    z-index: -1;
    border-radius: $a10;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
  /*&.error {
    background: red !important;
    font-size: 0;
    color: #fff !important;
    &:before {
      content: 'Ошибка отправки формы';
      font-size: $a24;
    }
  }
  &.ok {
    background: green !important;
    font-size: 0;
    color: #fff !important;
    &:before {
      content: 'Форма успешно отправлена';
      font-size: $a24;
    }
  }
  &.small {
    padding: 0 $a10;
    height: $a36;
    font-size: $a14;
    img , svg{
      height: $a16;
      margin-right: $a6;
      transition: all 0.5s;
    }
    &:hover {
      color: #000;
      img, svg {
        filter: invert(1);
      }
    }
  }
  &.white {
    border-color: #fff;
    background: transparent;
    &:hover {
      background: #fff;
    }
  }*/
}

select::-ms-expand {
  display: none;
}

body {
  font-family: 'GilroyRegular';
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #000000;
  background: #fff;
  font-size: $a20;
  .off {
    overflow: hidden;
  }
}
.bg1, .bg2, .bg3, .bg11, .bg22, .bg33 {
  position: absolute;
  width : 100%;
  background-color: rgb(255, 175, 2);
  z-index : -1;
}
.bg1, .bg11 {
  height: $a61;
}
.bg2, .bg22 {
  opacity: 0.702;
  height: $a23;
}
.bg3, .bg33 {
  opacity: 0.4;
  height: $a17;
}

#header {
  position: relative;
  height : 100vh;
  background-image: url("../img/header/header_banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  .bg1 {
    bottom : $a105;
  }
  .bg2 {
    bottom : $a82;
  }
  .bg3 {
    bottom : $a65;
  }
  .container {
    padding-top : $a15;
    .header_top {
      display: flex;
      margin-bottom : $a20;
      align-items: center;
      justify-content : space-between;

      .buttons {
        display: flex;
        .button {
          margin-left : $a40;
        }
      }
    }
    .header_nav {
      margin-bottom : $a95;
      .nav {
        .menu {
          border-top: 1px solid #393838;
          display: flex;
          justify-content : space-between;
          li {
            display: flex;
            transition: .5s all;
            a {
              position: relative;
              display: flex;
              padding: $a25 0;
              font-family: 'GilroyLight';
              color: #fff;
              transition: .5s all;
              &:before {
                content: "";
                position: absolute;
                top : -$a1;
                width : 0;
                left: 0;
                right: 0;
                margin: auto;
                height: 1px;
                background: #d29107;
                transition: all 0.5s;
              }
              &:hover {
                color: #d29107;
                &:before {
                  width: 100%;
                }
              }
            }
            .active {
              color: #d29107;
              &:before {
                content: "";
                position: absolute;
                top : -$a1;
                width : 100%;
                height: 1px;
                background: #d29107;
              }
            }
          }
        }
      }
    }
    h1 {
      margin-bottom : $a59;
    }
    .horn {
      display: flex;
      align-items: center;
      .brd {
        margin-right : $a40;
        display: flex;
        align-items: center;
        justify-content : center;
        border-width: $a3;
        border-color: rgb(255, 175, 2);
        border-style: solid;
        width: $a64;
        height: $a64;
        img {
          width: 66%;
        }
      }
      p {
        font-size : $a20;
        font-family: 'GilroyRegular';
        color: #fff;
      }
    }
  }
}

.brds {
  margin-bottom : $a15;
  background : linear-gradient(161deg, rgb(214, 147, 3) 0%, rgb(254, 174, 2) 100%);
  width      : $a38;
  height     : $a6;
}

#footer {
  .footer_top {
    background: #ffaf02;
    .nav {
      .menu {
        display: flex;
        justify-content : space-between;
        li {
          display: flex;
          transition: .5s all;
          a {
            position: relative;
            display: flex;
            padding: $a25 0;
            font-family: 'GilroyRegular';
            color: #000;
            transition: .5s all;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .footer_bootom {
    background: #1d1b18;
    padding: $a13 0;
    .container {
      display: flex;
      justify-content : space-between;
      align-items: center;
      .text_footer {
        font-size : $a16;
        line-height : $a20;
        color: #fff;
      }
      .buttons {
        display: flex;
      }
      .button {
        font-size : $a16;
        margin-left: $a20;
      }
    }
  }
}


.container {
  width  : $a1170;
  margin : 0 auto;
}


button {
  cursor: pointer;
  &:active {
    box-shadow: inset 0 5px 10px 0 rgba(0,0,0,0.5) !important;
  }
}

h1 {
  font-family: 'GilroyExtraBold';
  font-size: $a48;
  line-height: $a60;
  white-space: pre-line;
  color: #fff;
}

h2 {
    font-size: $a52;
    line-height: $a60;
    color: #000;
    font-family: 'GilroyExtraBold';
}

h3 {
  font-size: $a36;
  line-height: $a60;
  color: #000;
  font-family: 'GilroyExtraBold';
}

h4 {
  font-size: $a32;
  line-height: $a32;
  color: #000;
  font-family: 'GilroyRegular';
}

@media screen and (max-width: 1023px) {
  ::-webkit-scrollbar {
    display : none !important;
  }

  h1 {
    font-size: $m25 !important;
    line-height: $m35 !important;
    margin-bottom: $m15 !important;
  }

  h2 {
    text-align: left !important;
    line-height: $m25 !important;
    padding-left: $m5 !important;
    font-size: $m20 !important;
    white-space: normal !important;
    margin: $m10 auto !important;
    width: fit-content;
  }

  h3 {
    font-size: $m20 !important;
    padding-bottom: $m18 !important;
  }

  h4 {
    text-align: left !important;
    line-height: $m25 !important;
    padding-left: $m5 !important;
    font-size: $m18 !important;
    white-space: normal !important;
    margin: $m10 auto !important;
    width: fit-content;
  }

  p {
    font-size: $m12 !important;
    white-space: normal !important;
    text-align: left !important;
    line-height: $m20 !important;
    hyphens: auto;
    padding-right: $m30 !important;
  }


  .container {
    width : 95% !important;
  }

  .button, .button_form {
    font-size     : $m8;
    height        : $m24;
    padding       : 0 $m15;
    //border-radius : $m3;
    &.small {
      font-size : $m14;
      height    : $m30;
      padding   : 0 $m10;
    }
  }

  #header {

  }

  input[placeholder] {
    text-overflow:ellipsis;
  }

  #footer {

  }

}

@media screen and (width: 768px) {
  #footer {

  }
}

@media screen and (max-width: 480px) {
  #header {

  }

  #footer {

  }
}
